<!DOCTYPE html>
<html>
    <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title></title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="http://static2.meetupstatic.com/fonts/whitney.css" />
			<link rel="stylesheet" href="http://meetup.github.io/sassquatch/doc_desktop/sassquatch/sassquatch.css">
			<link rel="stylesheet" href="static/css/app.css">
                        <link rel="stylesheet" href="static/css/font-awesome.css">

			<script src='static/js/jquery-2.1.1.js'></script>
    </head>
    <body>
		<div class="doc-box">
			<div class="doc-content">
				<h1>Meetup Faves</h1>
			</div>
			<div class="doc-content">
				<div class="margin-top">
					<form id="event-search">
						<input type="text" class="span-50 inline-block margin-right" id="topic" value="python" />
						<button class="button primary" id="search-button">Search</button>
					</form>
				</div>
			</div>
		</div>
		<div class="doc-box">
			<div class="doc-content" id="events"></div>
		</div>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.3/spin.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
		<script src="static/js/app.js"></script>

		{% raw %}
		<script id="meetup-template" type="text/template">
			<ul class="dividedList eventsList">
				{{#results}}
					<li>
						<div class="figureset">
							<div class="figureset-figure">
								<time class="tearsheet--big">
									<span class="month">{{month}}</span>
									<span class="day">{{date}}</span>
								</time>
							</div>
							<div class="figureset-description">
								<h3><a href="{{event_url}}">{{name}}</a></h3>
								<div class="muted">{{group.name}}</div>
								<div class="yes">{{yes_rsvp_count}} {{group.who}} Going</div>
							</div>
                                                        <div class="figureset-button">
                                                        	<i class="fave-button fa fa-2 fa-star-o" id="gid-{{group.id}}"></i>
							</div>
						</div>
					</li>
				{{/results}}
			</ul>
		</script>
		{% endraw %}

		<script src='static/js/toggle_favicon.js'></script>
		<script src='static/js/ajax_data.js'></script>
                <script src='static/js/ajax_preload.js'></script>
    </body>
</html>
